

*,
body,
canvas {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(217, 217, 217) ;
    font-family: "Bona Nova SC", sans-serif;
}

canvas {
    top: 50%;
    left: 50%;
}

body {
    height: 200%;
}

#title{
    font-size: 100px;
}

#subtext{
    font-size: 50px;
}
#instructions {
    font-size: 30px;
}

#instructions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    gap: 16px;
}

#canvas-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Additional styles for your instruction page */
.button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}